body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f4f7f6;
  color: #333;
}

h1 {
  text-align: center;
  color: #007bff;
  padding: 20px 0;
  margin: 0;
}

#map {
  height: calc(100vh - 70px); /* Full viewport height minus header */
  width: 100%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px;
  border-radius: 10px;
  position: relative;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.photo-input {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.photo-input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.photo-input input[type="number"],
.photo-input input[type="file"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 1em;
}

.photo-input input[readonly] {
    background-color: #eee;
}

.photo-input button {
  width: 100%;
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.photo-input button:hover {
  background-color: #0056b3;
}

.leaflet-popup-content img {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}
